
{% extends "base.html" %}
{% load humanize %"}
{% load url from future %}

{% block content %}
<h1>UNC Women's Varsity Rosters '13-'14
<img src="http://image.cdnllnwnl.xosnetwork.com/fls/3350/site_graphics/2013/footerBranding.png"></h1>
<div class="row">

<h4>Basketball</h4>
<p><a href="#">Mentors</a></p>
<p><a href="#">Members</a></p>
<h4>Cross Country</h4>
<p><a href="#">Mentors</a></p>
<p><a href="#">Members</a></p>
<h4>Fencing</h4>
<p><a href="#">Mentors</a></p>
<p><a href="#">Members</a></p>
<h4>Volleyball</h4>
<p><a href="{% url 'roster_mentor_list' %}">Mentors</a></p>
<p><a href="{% url 'roster_member_list' %}">Players</a></p>

</div>








{% endblock %}
