
{% extends "base.html" %}
{% load humanize %"}
{% load url from future %}

{% block content %}
<h1>UNC Women's Varsity Rosters 2013
<img src="http://image.cdnllnwnl.xosnetwork.com/fls/3350/site_graphics/2013/footerBranding.png"></h1>
<div class="row">




<h4 id="sports">Volleyball</h4>
<p id="sports"><img class="one" src="http://image.cdnllnwnl.xosnetwork.com/pics32/1024/KA/KARZOZHSQXLGHDP.20120618214754.jpeg" height="400" style="max-width: 600px"></p>
<p id="sports"><a href="{% url 'roster_mentor_list' %}">Mentors</a></p>
<p id="sports"><a href="{% url 'roster_member_list' %}">Players</a></p>
<h4 id="sports">Basketball</h4>
<p id="sports"><img src="http://image.cdnllnwnl.xosnetwork.com/pics33/1024/PP/PPWNSKMXTEWWTTT.20140302202543.jpg" height="400" style="max-width: 600px"></p>
<p id="sports"><a href="#">Mentors</a></p>
<p id="sports"><a href="#">Members</a></p>
<h4 id="sports">Cross Country</h4>
<p id="sports"><img src="http://image.cdnllnwnl.xosnetwork.com/pics33/1024/GL/GLBVCNMBXLOWXTR.20130831154027.jpg" height="400" style="max-width: 600px"></p>
<p id="sports"><a href="#">Mentors</a></p>
<p id="sports"><a href="#">Members</a></p>
<h4 id="sports">Fencing</h4>
<p id="sports"><img src="http://image.cdnllnwnl.xosnetwork.com/pics33/1024/SV/SVPKJCGZYSRENNN.20140224014235.jpg" height="400" style="max-width: 600px"></p>
<p id="sports"><a href="#">Mentors</a></p>
<p id="sports"><a href="#">Members</a></p>

</div>






{% endblock %}
