<!-- new file: roster/templates/roster/member.html-->

{% extends "base.html" %}

{% block content %}
<h2 class="background">{{ member.name }}</h2>

<table id="roster-table" class="table " cellspacing="0" cellpadding="0">

    <thead>
        <tr>
            <th class="number ts-header">{{ member.number }}</th>
            <th class="name ts-header">{{ member.name }}</th>
            <th class="position ts-header">{{ member.position }}</th>
            <th class="height hidden-phone ts-header">{{ member.height }}</th>
            <th class="year ts-header">{{ member.year }}</th>
        </tr>
    </thead>
    <tbody></tbody>
    
</table>


<div>
	<!--<div class="col-md-6">-->
		
		<div>
			
			<img src="{{ member.imageurl }}">
			<p class="information">Information</p>
			<p class="texts">{{ member.personal }}</p>
		
		<p class="information">Career Highs:</p>
<table border="3">
	<tbody>
	<tr>
		<td><strong>Kills</strong></td>
		<td><strong>Attack Percentage</strong></td>
		<td><strong>Blocks</strong></td>
		<td><strong>Digs</strong></td>
	</tr>
	<tr>
		<td>{{ member.kill }}</td>
		<td>{{ member.attack }}</td>
		<td>{{ member.block }}</td>
		<td>{{ member.dig }}</td>
	</tr>
	</tbody>
</table>
				
		
		</div>


		<!--<ul>
			<li>Number: {{ member.number }}</li>	
			<li>Year: {{ member.year }} </li>
			<li>Position: {{ member.position }}</li>
		</ul>-->
	</div>

{% endblock %}
