<!-- new file: roster/templates/roster/member.html-->

{% extends "base.html" %}

{% block content %}
<h2>{{ member.name }}</h2>

<div class="row">
	<div class="col-md-6">
		<div><img src="{{ member.imageurl }}"></div>	
		<!--<ul>
			<li>Number: {{ member.number }}</li>	
			<li>Year: {{ member.year }} </li>
			<li>Position: {{ member.position }}</li>
		</ul>
	</div>
</div>-->

<table id="roster-table" class="table " cellspacing="0" cellpadding="0">

    <thead>
        <tr>
            <th class="number ts-header">{{ member.number }}</th>
            <th class="name ts-header">{{ member.name }}</th>
            <th class="position ts-header">{{ member.position }}</th>
            <th class="height hidden-phone ts-header">{{ member.height }}</th>
            <th class="year ts-header">{{ member.year }}</th>
            <th class="hometown hidden-phone ts-header"></th>
        </tr>
    </thead>
    <tbody></tbody>

</table>
Career Highs:
<table border="1">
	<tbody>
	<tr>
		<td><strong>Kills</strong></td>
		<td><strong>Attack Percentage</strong></td>
		<td><strong>Blocks</strong></td>
		<td><strong>Digs</strong></td>
	</tr>
	<tr>
		<td>{{ member.kill }}</td>
		<td>{{ member.attack }}</td>
		<td>{{ member.block }}</td>
		<td>{{ member.dig }}</td>
	</tr>
	</tbody>
</table>

{% endblock %}
