@import url(static_media/css/bootstrap.css)

body
{
background-color:#FFF;
}
h1
{
color:#fff;
text-align:center;
font-family: fantasy;
}


#sports {
text-align: center
}

#pos_right{
float: right;
position: relative;
}

.thumbnail
{
float:right;
width:1px;
height:1px;
margin:50px;
}

.pos_right {
float: right;
}

.information {
color: rgb(31, 45, 92);
font-family: fantasy;
font-size: large;
}

.centers {
text-align: center;
}

.texts {
color: #000;
}

#lalala {
background-color: #1E90FF;
border-radius: 20px;
border-color: #000000;
}


.wrapper{
    width:100px;
    height:100px;
    margin:0 auto;
}

#list {
text-align: center
}

img.one
{
border-style: groove;
border-width:5px;
border-color: black;
text-align: center;
}

h2
{
text-align: center;    
}

h2.background{
background-color: rgb(31, 45, 92);
}

h4
{
color: #000;
font-family:fantasy;
font-size:20px;
}
h5
{
text-align: center;
}
li
{
color: #000;
list-style-type: none;
}




#roster-table .ts-header {
    cursor: auto;
    background: url("http://image.cdnllnwnl.xosnetwork.com/fls/3350/site_graphics/2013/logo.png") no-repeat scroll right center rgb(141, 185, 229);
}
#RosterBody th, #RosterBody td {
    border-width: 1px 1px 0px 0px;
    border-style: solid solid none none;
    border-color: rgb(176, 176, 176) rgb(205, 205, 205) -moz-use-text-color -moz-use-text-color;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    text-align: left;
    vertical-align: middle;
    font-size: 16px;
    padding: 3px;
    font-family: 'Roboto';
}

#RosterBody .table {
    width: 98%;
    margin-bottom: 20px;
}